<ul>
  <li>
    Add to card
    <div fxLayout="column" fxLayoutAlign="space-between">
      <button>Members</button>
      <button (click)="openCardDetailsDialog('AddChecklistComponent', 'Add Checklist', 'Add')">Checklist</button>
      <button>Due Date</button>
      <button>Attachment</button>
    </div>
  </li>
  <li>
    Actions
    <div fxLayout="column">
      <button (click)="openCardDetailsDialog('MoveCardComponent', 'Move Card', 'Move')">Move</button>
      <button (click)="openCardDetailsDialog('CopyCardComponent', 'Copy Card', 'Copy')">Copy</button>
      <button>Watch</button>
      <button>Archive</button>
      <button>Share</button>
    </div>
  </li>
</ul>
