<ul>
  <li>
    Add to card
    <div fxLayout="column" fxLayoutAlign="space-between">
      <button>Members</button>
      <button>Checklist</button>
      <button>Due Date</button>
      <button>Attachment</button>
    </div>
  </li>
  <li>
    Actions
    <div fxLayout="column">
      <button (click)="openMoveCardDialog()">Move</button>
      <button (click)="openCopyCardDialog()">Copy</button>
      <button>Watch</button>
      <button>Archive</button>
      <button>Share</button>
    </div>
  </li>
</ul>
