<ul>
  <li>
    Add to card
    <div fxLayout="column" fxLayoutAlign="space-between">
      <button mat-raised-button class="card-action-button">Members</button>
      <button mat-raised-button class="card-action-button"
              (click)="openCardDetailsDialog('AddChecklistComponent', 'Add Checklist', 'Add')">Checklist</button>
      <button mat-raised-button class="card-action-button">Due Date</button>
      <button mat-raised-button class="card-action-button">Attachment</button>
    </div>
  </li>
  <li>
    Actions
    <div fxLayout="column">
      <button mat-raised-button class="card-action-button"
              (click)="openCardDetailsDialog('MoveCardComponent', 'Move Card', 'Move')">Move</button>
      <button mat-raised-button class="card-action-button"
              (click)="openCardDetailsDialog('CopyCardComponent', 'Copy Card', 'Copy')">Copy</button>
      <button mat-raised-button class="card-action-button">Watch</button>
      <button mat-raised-button class="card-action-button">Archive</button>
      <button mat-raised-button class="card-action-button">Share</button>
    </div>
  </li>
</ul>
