<!--<div class="task-manager-container" fxFlex="1 1 auto">-->
<!--  <app-board [boardDetail]="boards[0]"></app-board>-->
<!--</div>-->

<div class="task-manager-container" fxLayout="row wrap">
  <div fxLayout="row" *ngFor="let board of boards" class="board-tile" (click)="navigateToBoard(board.id)">
    <div class="board-title">{{board.title}}</div>
  </div>
  <div fxLayout="row" class="board-tile add-board-tile" (click)="addBoard()">
    <i class="fa fa-plus"></i>
    <span class="board-title">Add Board</span>
  </div>
</div>


