<div class="board" fxLayout="row" cdk-scrollable
     cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListData]="boardDetail.columns"
     (cdkDropListDropped)="drop($event)">
  <app-list class="column" *ngFor="let list of boardDetail.columns" [listDetail]="list" [listIds]="listIds"
       cdkDropListGroup
       cdkDrag [cdkDragData]="list">
  </app-list>
  <mat-form-field class="list-input" appearance="outline">
    <i class="fa fa-plus"></i>
    <input class="list-name" type="text" matInput [formControl]="listName" placeholder="Add another list"/>
  </mat-form-field>
</div>
