.board {
  background-color: cornflowerblue;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board .cdk-drop-list-dragging .list:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

