<div class="list-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list-header">
        <span>{{listDetail.title}}</span>
  </div>
  <div class="list" fxLayout="column"
       cdkDropList
       id="{{listDetail.id}}"
       [cdkDropListData]="listDetail.tasks"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListConnectedTo]="getConnectedList()">
  <app-card class="task" *ngFor="let task of listDetail.tasks"
       cdkDrag [cdkDragData]="task"
  [taskDetail]="task">
  </app-card>
  </div>
</div>
