<div class="list-container" fxLayout="column" cdkDragHandle>
  <h3 class="list-header">{{listDetail.title}}</h3>
  <div class="list" fxLayout="column"
  cdkDropList
  id="{{listDetail.id}}"
  [cdkDropListData]="listDetail.tickets"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="getConnectedList()">
    <app-card class="task" *ngFor="let task of listDetail.tickets"
              cdkDrag [cdkDragData]="task"
              [taskDetail]="task">
    </app-card>
  </div>
  <div *ngIf="!cardInputBoxOpen" class="add-card-box" (click)="openCardInput()">
    <i class="fa fa-plus"></i>
    <span class="add-card-text">Add another card</span>
  </div>
  <div *ngIf="cardInputBoxOpen" class="card-input" fxLayout="column" attachOutsideOnClick="true" (clickOutside)="closeCardInput()">
    <input #cardInput class="card-name" type="text" [formControl]="cardName" placeholder="Enter a title for this card..."/>
  </div>
  <button *ngIf="cardInputBoxOpen" [disabled]="cardName.invalid" mat-stroked-button class="ok-button add-card-button" (click)="addCard()">
    Add Card
  </button>
</div>
