<div class="list-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list-header">
        <span>{{listDetail.title}}</span>
  </div>
  <div class="list" fxLayout="column"
       cdkDropList
       id="{{listDetail.id}}"
       [cdkDropListData]="listDetail.tickets"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListConnectedTo]="getConnectedList()">
  <app-card class="task" *ngFor="let task of listDetail.tickets"
       cdkDrag [cdkDragData]="task"
  [taskDetail]="task">
  </app-card>
  <mat-form-field class="card-input" appearance="outline">
    <i class="fa fa-plus"></i>
    <input class="card-name" type="text" matInput [formControl]="cardName" placeholder="Add another card"/>
  </mat-form-field>
  </div>
</div>
